input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #fff inset;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input {
  filter: none !important;
  height: 40px;
  min-height: 40px;
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  background-color: white;
  font-family: 'Lato';
  font-size: 14px;
  padding: 0 8px;
  color: #919191;
}

textarea {
  resize: none;
  filter: none !important;
  height: 170px;
  /* min-height: 170px; */
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  background-color: white;
  font-family: 'Lato';
  font-size: 12px;
  padding: 22px;
  color: #555555;
}
